<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.alextan.android.exits">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FormActivity">
        </activity>
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.TripActivity"
            android:label="@string/title_activity_trip"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.SettingsActivity">
        </activity>
        <activity android:name=".activity.StationsActivity">
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="exits.db"/>
        <meta-data
            android:name="VERSION"
            android:value="3"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.alextan.android.exits.model.local"/>

        <activity android:name=".activity.Stations2Activity">
        </activity>
    </application>

</manifest>