<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.alextan.android.exits">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FormActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.StationsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="exits.db"/>
        <meta-data
            android:name="VERSION"
            android:value="3"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.alextan.android.exits.model.local"/>

        <activity
            android:name=".activity.TripActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <service android:name=".service.GeolocationService"/>
        <service android:name=".service.Geolocation2Service"/>
    </application>

</manifest>